@model IEnumerable<Model.EFModel.HoaDonTinhCuocThang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Chi tiết hóa đơn tháng @ViewBag.MonthNow</strong>
                        @using (Html.BeginForm("Index", "HoaDonTinhCuocThangs", FormMethod.Post, new { style = "Float:right" }))
                        {
                            <label>Chọn Sim: </label>
                            @Html.DropDownList("Sim", null, "Tất cả sim", new { onchange = "this.form.submit();" })
                            <label>Chọn Tháng: </label>
                            <select id="thang" name="thang" onchange='if(this.value != 0) { this.form.submit(); }'>
                                <option value="0">Chọn tháng</option>
                                <option value="1">Thang 1</option>
                                <option value="2">Thang 2</option>
                                <option value="3">Thang 3</option>
                                <option value="4">Thang 4</option>
                                <option value="5">Thang 5</option>
                                <option value="6">Thang 6</option>
                                <option value="7">Thang 7</option>
                                <option value="8">Thang 8</option>
                                <option value="9">Thang 9</option>
                                <option value="10">Thang 10</option>
                                <option value="11">Thang 11</option>
                                <option value="12">Thang 12</option>
                            </select>
                        }

                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.SIM.TenSim)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TienThueBao)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TienCuocSD)
                                    </th>
                                    <th>
                                        Trạng thái
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ThangHD)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SIM.TenSim)
                                        </td>
                                        <td>
                                            @item.TienThueBao.ToString("N0") vnd
                                        </td>
                                        <td>
                                            @item.TienCuocSD.ToString("N0") vnd
                                        </td>
                                        <td>
                                            @if (item.Flag == false)
                                            {
                                                <span class="badge badge-warning">Chưa đóng tiền</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-success">Đã đóng tiền</span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ThangHD)
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter@(item.HoaDonTinhCuocThangID)">
                                                Detail
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (@ViewBag.TienCuocGoi != null)
                {
                    <div class="alert alert-success">Tổng tiền thuê bao: @ViewBag.TienThueBao vnd</div>
                    <div class="alert alert-primary">Tổng tiền cước gọi: @ViewBag.TienCuocGoi vnd</div>

                }
            </div>


        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@foreach (var item in Model)
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter@(item.HoaDonTinhCuocThangID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết sử dụng hóa đơn trong tháng @item.ThangHD.Month năm @item.ThangHD.Year</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">

                        <thead>
                            <tr>
                                <th>
                                    Ngày sử dụng
                                </th>
                                <th>
                                    Số phút sử dụng
                                </th>
                                <th>
                                    Thành tiền
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item1 in @ViewBag.ListChiTietHDTC)
                            {
                                if (item1.HoaDonTinhCuocThangID == item.HoaDonTinhCuocThangID)
                                {
                                    <tr>
                                        <td>
                                            @item1.NgayHD.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item1.SoPhutSD
                                        </td>
                                        <td>
                                            @item1.ThanhTien.ToString("N0")
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter2@(item1.ChiTietHDTCID)">
                                                Detail
                                            </button>
                                        </td>
                                    </tr>

                                }

                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@foreach (var item in @ViewBag.ListChiTietHDTC)
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2@(item.ChiTietHDTCID)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Chi tiết cuộc gọi @item.NgayHD.ToString("dd/MM/yyyy")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">

                        <thead>
                            <tr>
                                <th>
                                    Thời gian bắt đầu
                                </th>
                                <th>
                                    Thời gian kết thúc
                                </th>
                                <th>
                                    Số phút SD
                                </th>
                                <th>
                                    Thành tiền
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item1 in @ViewBag.ListChiTietCuocGoi)
                            {
                                if (item1.ChiTietHDTCID == item.ChiTietHDTCID)
                                {
                                    <tr>
                                        <td>
                                            @item1.ThoiGianBD.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item1.ThoiGianKT.ToString("dd/MM/yyyy")
                                        </td>
                                        <td>
                                            @item1.SoPhutSD
                                        </td>
                                        <td>
                                            @item1.ThanhTien.ToString("N0")
                                        </td>
                                    </tr>

                                }

                            }
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}



@section PluginCSS{
    <link rel="apple-touch-icon" href="/Assets/sufee-admin-dashboard-master/apple-icon.png">
    <link rel="shortcut icon" href="/Assets/sufee-admin-dashboard-master/favicon.ico">

    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/normalize.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/flag-icon.min.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="/Assets/sufee-admin-dashboard-master/assets/scss/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
}
@section PluginJS{
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/popper.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/plugins.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/main.js"></script>


    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/jszip.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/pdfmake.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/vfs_fonts.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="/Assets/sufee-admin-dashboard-master/assets/js/lib/data-table/datatables-init.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#bootstrap-data-table-export').DataTable();

            $(function () {
                $('#thang').val(@ViewBag.MonthNow);
            });
        });
    </script>
    <style>
        .modal-dialog {
            overflow-y: initial !important
        }

        .modal-body {
            height: 400px;
            overflow-y: auto;
        }
    </style>
}

